<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MyPhoto sharer - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet">


</head>


<body>



    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Hello,
                <%= name %></a>
            <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
                <span></span>
            </a>
        </div>
    </nav>


    <div class="col-md-8 mt-5 form-group">



    </div>
    <br>
    <div class="row mt-4">
        <div class="col-md-6 m-auto">
            <%- include ('partials/messages') %>
                <div class="card card-body text-center">
                    <h1><i class="fa fa-node-js fa-3x"></i></h1>
                    <p>Choose where to go</p>
                    <a href="/admin/dash" class="btn btn-primary btn-block mb-2">Admin Dashboard</a
            >
            <a href="/main" class="btn btn-secondary btn-block">Home Page</a>
                </div>
        </div>
    </div>

    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <br><br><br>
    <footer class="footer">
        <div class="container  align-items-center">
            <div class="row">

                <div class="col-sm-8 social text-md-end  align-items-center">
                    <a href="#"><span class="bi bi-twitter"></span></a>
                    <a href="#"><span class="bi bi-facebook"></span></a>
                    <a href="#"><span class="bi bi-instagram"></span></a>
                    <a href="#"><span class="bi bi-youtube"></span></a>
                    <a href="#"><span class="bi bi-linkedin"></span></a>
                    <a href="#"><span class="bi bi-github"></span></a>
                </div>
            </div>
        </div>
    </footer>



    <!-- Vendor JS Files -->
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>

</body>

</html>