//diplay pictures
<%if (data.length> 0) {%>
    <% data.forEach(function(row){%>



        <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single" class="item-wrap fancybox">
                <div class="work-info">
                    <h3>
                        <%= title %>
                    </h3>
                    <span>
                        <%= decription %>
                    </span>
                </div>
                <img class="img-fluid" src="<%= path %>">
            </a>
        </div>

        <% }) }%>